body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
  font-size: 50px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
   font-size: 20px; 
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
    font-size: 20px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

	*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
body {
	background: url(//subtlepatterns.com/patterns/scribble_light.png);
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
}
#wrap{
	width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}
.columns_2 figure{
   width:49%;
   margin-right:1%;
}
.columns_2 figure:nth-child(2){
	margin-right: 0;
}
.columns_3 figure{
   width:32%;
   margin-right:1%;
}
.columns_3 figure:nth-child(3){
	margin-right: 0;
}
.columns_4 figure{
   width:24%;
   margin-right:1%;
}
.columns_4 figure:nth-child(4){
	margin-right: 0;
}
.columns_5 figure{
   width:19%;
   margin-right:1%;
}
.columns_5 figure:nth-child(5){
	margin-right: 0;
}
#columns figure:hover{
	-webkit-transform: scale(1.1);
	-moz-transform:scale(1.1);
	transform: scale(1.1);

}
#columns:hover figure:not(:hover) {
	opacity: 0.4;
}
div#columns figure {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 0px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

div#columns figure img {
	width: 100%;
	border-bottom: 1px solid black;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
  color: #444;
  line-height: 1.5;
  height:60px;
  font-weight:600;
  text-overflow:ellipsis;
}

a.button{
  padding:10px;
  background:grey;
  margin:10px;
  display:block;
  text-align:center;
  color:#fff;
  transition:all 1s linear;
  text-decoration:none;
  text-shadow:1px 1px 3px rgba(0,0,0,0.3);
  border-radius:3px;
  border-bottom:3px solid #ff6536;
  box-shadow:1px 1px 3px rgba(0,0,0,0.3);
}
a.button:hover{
  background:grey;
  border-bottom:3px solid black;
  color:black;
}
@media screen and (max-width: 960px) { 
  #columns figure { width: 24%; }
}
@media screen and (max-width: 767px) {
  #columns figure { width:32%;}
}
@media screen and (max-width: 600px) {
  #columns figure { width: 49%;}
}
@media screen and (max-width: 500px) {
  #columns figure { width: 100%;}
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
body{
  font-family: 'Raleway', Arial, sans-serif;
}

figure.snip{
  position: relative;
  float:left;
  overflow: hidden;   /* clipped content, no scroll */
  margin: 10px 1%;
  width:480px;
  background: gray;
  color: #fff;
  text-align:center;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0, 0.15);   /* horizontal vertical blur color */
}
figure.snip *{           /* '*':select all elements */
  transition: all 0.5s ease;  /* smooth zoom on/out */
  box-sizing: border-box;  
}
.image{                       /* left column */
  background-color: #000000;
  width:50%;
  overflow:hidden;
}
.image img{
  max-width:100%;
  margin-top:40px;
}
figcaption{            
  position:absolute;
  width:50%;
  right:0;
  top:50%;
  -webkit-transform: translateY(-50%); /* move up */
  transform: translateY(-50%);
  padding: 10px 35px;
}
figure.snip h4,
figure.snip p,
figure.snip .price{
  margin: 0 0 8px;                     /* top left bottom */
} 
figure.snip h4{
  position: absolute;                  /* inside left column */
  width:50%;
  color:#ffffff;
  top:10px;
  text-transform: uppercase;          /* capitalize words */
  font-weight: 400; 
  letter-spacing: 1px;                /* distance between letters */
  z-index:1;
}
figure.snip p{
  font-size:0.7em;
  font-weight: 500;
  line-height:1.6em;                  /* distance between lines */
}
figure.snip .price{
  color:#ffffff;
  font-size: 1.3em;
  opacity:0.8;
}

figure.snip .price s{
  display:inline-block;
  padding: 0 8px 0 0;
  font-size: 0.85em;
  color: #f39c12;
}

figure.snip .add-to-cart{
  text-decoration: none;
  position: absolute;
  color:#ffffff;
  bottom:0;
  right:0;
  font-weight: 600;
  line-height: 44px;                 /* bottom */
  font-size: 0.75em;
  text-transform: uppercase;
  width:50%;
  background-color: rgba(0, 0, 0, 0.3);
}

figure.snip img:hover{
  opacity:0.6;
  -webkit-transform: scale(1.3,1.3); /* zoom(x,y) */
  transform: scale(1.3,1.3);
}

figure.snip .add-to-cart:hover{
  background-color: black;
}

figure.snip button{                        
  position:absolute;
  bottom:50px;
  font-size:1em;
  color:white;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.6);
  border: 2px solid white;
  outline: none;
}
figure.snip button:hover{                        
  background-color: white;
  color:black;
  border: 2px solid black;
}
.prev{
  left:60%;
}
.next{
  right:30px;
}

.animation-fly{
  position:absolute;
  z-index:99;
  width:100px;
  height:100px;
  object-fit:cover;
  border-radius:100%;
  transition: all 1s ease;
  animation: zoom 1.5s;    /* <=> animation-name: zoom; animation-duration: 1.5s */
}

@-webkit-keyframes zoom{           /* Google Chrome , Apple Safari */
  0% {transform: scale(0.4);}
  25% {transform: scale(1);}
  50% {transform: scale(1);}
  100% {transform: scale(0.5);}
}
@-moz-keyframes zoom{               /* Mozilla Firefox */
  0% {transform: scale(0.4);}
  25% {transform: scale(1);}
  50% {transform: scale(1);}
  100% {transform: scale(0.5);}
}
@-o-keyframes zoom{                      /*  Opera */
  0% {transform: scale(0.4);}
  25% {transform: scale(1);}
  50% {transform: scale(1);}
  100% {transform: scale(0.5);}
}

.cart{
  position:absolute;
  top:0;
  right:10px;
  text-decoration:none;
  z-index:10;
  animation: fadeInLeft 2s;
}
@-webkit-keyframes fadeInLeft {
		0% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-200%, 0, 0);
		}
		100% {
				opacity: 1;
				-webkit-transform: none;
				transform: none;
		}
}
@-moz-keyframes fadeInLeft {
		0% {opacity: 0;-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-200%, 0, 0);}
		100% {opacity: 1;-webkit-transform: none;transform: none;}
}
@-o-keyframes fadeInLeft {
		0% {opacity: 0;-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-200%, 0, 0);}
		100% {opacity: 1;-webkit-transform: none;transform: none;}
}

.cart img{
  width:100px;
}
.cart span{
  display:block;                          /* display like <p> */
  background-color:black;
  text-align:center;
  margin-top:10px;
  border-radius:5px;
  box-shadow:5px 5px 2px #888888;
  color: white;
}




/* ------------check out-------------------------- */
.container{
  width: 300px;
  height:500px;
  position:absolute;
  right:10px;
  top:30%;
  text-align:center;
  z-index:10;
}
.table{
  width:98%;
  height:200px;
  overflow-y: scroll;     /* overflow = overflow-x + overflow-y */
  border:2px solid black;
  border-radius: 4px;
  background:white;
  padding:2%;
}
.col1-name{
  width:70%;
  height:100%;
  float:left;
}
.col2-price{
  width:29%;
  float:left;
  height:100%;
}

                  /* ----------Scroll Bar--------- */
                  /* Google Chrome, Apple Safari */
.table::-webkit-scrollbar, .modal::-webkit-scrollbar                 
{
	width: 10px;
	background-color: #F5F5F5;
}

.table::-webkit-scrollbar-track, .modal::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
	background-color: #F5F5F5;
}

.table::-webkit-scrollbar-thumb, .modal::-webkit-scrollbar-thumb
{
	background-color: #000000;
    border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
.modal::-webkit-scrollbar-thumb{background-color:orange;}
 
                /* Mozilla Firefox */
.table::-moz-scrollbar, .modal::-moz-scrollbar                 
{
	width: 10px;
	background-color: #F5F5F5;
}

.table::-moz-scrollbar-track, .modal::-moz-scrollbar-track
{
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
	background-color: #F5F5F5;
}

.table::-moz-scrollbar-thumb, .modal::-moz-scrollbar-thumb
{
	background-color: #000000;
    border-radius: 10px;
  -ms-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
.modal::-moz-scrollbar-thumb{background-color:orange;}
   
                    /* Opera */
.table::-o-scrollbar, .modal::-o-scrollbar                 
{
	width: 10px;
	background-color: #F5F5F5;
}

.table::-o-scrollbar-track, .modal::-o-scrollbar-track
{
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
	background-color: #F5F5F5;
}

.table::-o-scrollbar-thumb, .modal::-o-scrollbar-thumb
{
	background-color: #000000;
    border-radius: 10px;
  -ms-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
.modal::-o-scrollbar-thumb{background-color:orange;}
               /* ------------End Scroll Bar-------- */
.bin{
  margin-bottom: 5px;
  margin-top:5px;
}
.bin span{
  width:80%;
  float:left;
  text-align:left;
  padding:10px;
}
.bin img{
  width:10%;
  float:right;
  
}
.total, .bin{
  width:100%;
  height:50px;
  background: white;
  color: black;
  border: 2px solid black;
  font-weight: bold;  
}
.total-text{
  width: 70%;
  height: 50px;
  float:left;
  border-right: 2px solid black;
  background: url(https://3.bp.blogspot.com/-cTzL8OfhV_w/WdcNZoY90dI/AAAAAAAABt0/1wTB6htk2YE7C2I8_cAf7FoL8YVxsR5hgCLcBGAs/s1600/13.png) no-repeat;
  background-size: contain;
  background-position: right;
  
  
}
.total-amount{
  width:26%;
  height:50px;
  float:left;
  padding-top:10px;
}

.checkout{
  width:50%;
  margin: auto;
  height:50px;
  padding-top: .5em;
  margin-top: 2em;
  font-size: 1.5em;
  text-transform: uppercase;
  border: solid 2px #232323;
  color: #232323;
  border-radius: 0.4em;
  cursor:pointer;  
  background: white;
}
.checkout:hover{
  animation:none;
}
.add-animation{
  animation: jump 0.75s;
  animation-iteration-count: infinite;   /*  loop animation */
}
.add-animation2{
  animation: shaker 0.75s;
  animation-iteration-count: infinite;
}
.disabled{
  opacity: 0.3;
  cursor: not-allowed;
}
@-o-keyframes jump {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }
  30% {
    transform: scale(1, 0.8) translate(0px, 8px);
  }
  75% {
    transform: scale(1, 1.1) translate(0px, -20px);
  }
  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}
@-webkit-keyframes jump {
  0% {transform: scale(1, 1) translate(0px, 0px);}
  30% {transform: scale(1, 0.8) translate(0px, 8px);}
  75% {transform: scale(1, 1.1) translate(0px, -20px);}
  100% {transform: scale(1, 1) translate(0px, 0px);}
}
@-moz-keyframes jump {
  0% {transform: scale(1, 1) translate(0px, 0px);}
  30% {transform: scale(1, 0.8) translate(0px, 8px);}
  75% {transform: scale(1, 1.1) translate(0px, -20px);}
  100% {transform: scale(1, 1) translate(0px, 0px);}
}
@-webkit-keyframes shaker {
  0% {
    transform: rotate(0deg);
  }
  29% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(3deg);
  }
  31% {
    transform: rotate(4deg);
  }
  33% {
    transform: rotate(3deg);
  }
  35% {
    transform: rotate(0deg);
  }
  37% {
    transform: rotate(-3deg);
  }
  39% {
    transform: rotate(-4deg);
  }
  41% {
    transform: rotate(-3deg);
  }
  43% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(3deg);
  }
  47% {
    transform: rotate(4deg);
  }
  49% {
    transform: rotate(3deg);
  }
  51% {
    transform: rotate(0deg);
  }
  53% {
    transform: rotate(-3deg);
  }
  55% {
    transform: rotate(-4deg);
  }
  57% {
    transform: rotate(-3deg);
  }
  59% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-moz-keyframes shaker {
  0% {transform: rotate(0deg);}
  29% {transform: rotate(0deg);}
  30% {transform: rotate(3deg);}
  31% {transform: rotate(4deg);}
  33% {transform: rotate(3deg);}
  35% {transform: rotate(0deg);}
  37% {transform: rotate(-3deg);}
  39% {transform: rotate(-4deg);}
  41% {transform: rotate(-3deg);}
  43% {transform: rotate(0deg);}
  45% {transform: rotate(3deg);}
  47% {transform: rotate(4deg);}
  49% {transform: rotate(3deg);}
  51% {transform: rotate(0deg);}
  53% {transform: rotate(-3deg);}
  55% {transform: rotate(-4deg);}
  57% {transform: rotate(-3deg);}
  59% {transform: rotate(0deg);}
  100% {transform: rotate(0deg);}
}
@-o-keyframes shaker {
  0% {transform: rotate(0deg);}
  29% {transform: rotate(0deg);}
  30% {transform: rotate(3deg);}
  31% {transform: rotate(4deg);}
  33% {transform: rotate(3deg);}
  35% {transform: rotate(0deg);}
  37% {transform: rotate(-3deg);}
  39% {transform: rotate(-4deg);}
  41% {transform: rotate(-3deg);}
  43% {transform: rotate(0deg);}
  45% {transform: rotate(3deg);}
  47% {transform: rotate(4deg);}
  49% {transform: rotate(3deg);}
  51% {transform: rotate(0deg);}
  53% {transform: rotate(-3deg);}
  55% {transform: rotate(-4deg);}
  57% {transform: rotate(-3deg);}
  59% {transform: rotate(0deg);}
  100% {transform: rotate(0deg);}
}

         /* -------------BILL------------------- */
.modal{
  display:none;
  position:fixed;
  z-index: 99;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.4);
  
}
.wrapper{
  background-color: white;
  width:50%;
  box-shadow: 10px 10px 0 black; 
  border-bottom: 1px solid white;
  margin: 1% auto 2% auto;
  animation: animatezoom .6s;
  -webkit-animation: animatezoom .6s;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@-moz-keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
@-o-keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.wrapper:before {
  background: linear-gradient(-135deg, #000 10px, transparent 0), linear-gradient(135deg, #000 10px, transparent 0), linear-gradient(-134deg, yellow 13px, transparent 0), linear-gradient(134deg, yellow 13px, transparent 0);
  background-repeat: repeat;
  background-size: 21px 32px;
  content: "";
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 15px;
}

.wrapper:after {
  background: linear-gradient(-45deg, #000 10px, transparent 0), linear-gradient(45deg, #000 10px, transparent 0), linear-gradient(-45deg, yellow 13px, transparent 0), linear-gradient(45deg, yellow 13px, transparent 0);
  background-repeat: repeat;
  background-size: 21px 32px;
  content: "";
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
}

.bill-content{
  width:95%;
  margin: auto;
}

.wrapper h1{
  text-transform: uppercase;
}
.box-title{
  text-shadow: 2px 2px 0 yellow;
}
.price-total{
  background:black;
  font-size: 1.5em;
  text-align:center;
  color: yellow;
  font-weight: 800;
  padding:5px 0;
  margin: 15px 0;
}
.price-total span{
  font-size: .75em;
  color:white;
}
.form-text{
  padding: 5px;
  display: block;
}
form{
  margin: 0 -5px;
}
label{
  display: block;
  font-size: .9em;
  text-transform: uppercase;
  font-weight:bold;
  margin-bottom: 5px;
}
input{
  border: 3px solid black;
  width:95%;
  padding: 7px;
  font-size: 1.1em;
}
input:focus{       /* click on */
  outline: 0;
  background: yellow;
}
.wrapper button{
  font-size: 1.2em;
  padding: 10px;
  border: 0;
  line-height: 1.6;
  box-shadow: 3px 3px 0 black;
  cursor: pointer;
  background: yellow;
  transition: ease-in all .3s;
  font-weight: bold;
}
.wrapper button:hover, .wrapper button:focus{
  background:black;
  color:yellow;
  box-shadow: 5px 5px 0 yellow;
  outline: none;
}
#coupon{
  border: 3px solid black;
  background:white;
  color: black;
  box-shadow: none;
  border-radius: 4px;
  animation: shrink  1s infinite;
}
#coupon:hover{
  animation: none;
  background: black;
  color: yellow;
  border: 3px solid yellow;
}
#end{
  float:right;
  margin-right:10px;
}
@-webkit-keyframes shrink {
  0% {
    transform: scaleY(1);
  }
  49% {
    transform: scale(0.97, 0.97);
  }
  100% {
    transform: scaleY(1);
  }
}
@-moz-keyframes shrink {
  0% {
    transform: scaleY(1);
  }
  49% {
    transform: scale(0.97, 0.97);
  }
  100% {
    transform: scaleY(1);
  }
}
@-o-keyframes shrink {
  0% {
    transform: scaleY(1);
  }
  49% {
    transform: scale(0.97, 0.97);
  }
  100% {
    transform: scaleY(1);
  }
}

.close{
  float:right;
  margin-right:10px;
  margin-top:-10px;
  font-size:35px;
  cursor:pointer;
}
#col01, #col02{
  width:46.5%;
  float:left;
}
#col02{
  margin-left:2%;
}

                         






/* ----------------------------------------- */
                       /* Responsive */

@media screen and (max-width:520px){    /* apply to screen sizes < or = 520px */
  figure.snip{width:100%;top:130px;}
  figcaption p{display:none;}
  figure.snip h4{
    font-size: 12px;
    text-transform: none;
  }
  figure.snip img:hover{
    -webkit-transform: scale(1.45,1.45);
    transform: scale(1.45,1.45);
  }
  .modal{
    overflow: auto; /* Enable scroll if needed */
  }
  .wrapper{
    width:90%;
  }
  .container{display:none;}
}

@media screen and (max-width:380px){         /* ip7 */
  .cart img{width:50px}
  figure.snip{top:80px;}
  .wrapper{
    width:95%;
  }
  input{
    width:94%;
  }
  #col01, #col02{
    width:97%;
  }
  #col02{
    margin-left:0;
  }
  
}

@media screen and (max-width:325px){          /* ip5 */
  .container{
    width:280px;
  }
  .bin span{
    width: 70%;
  }
  #coupon, #end{
    width:100%;
  }
  #end{width:90%;margin:10px}
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about {
  margin: 70px auto 40px;
  padding: 8px;
  width: 260px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #bbb;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #383838;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
}
.about a {
  color: #eee;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.about a:hover {
  text-decoration: none;
  background: #555;
  background: rgba(255, 255, 255, 0.15);
}

.about-links {
  height: 30px;
}
.about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

.about-author {
  margin-top: 5px;
}
.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}

/*
 * Copyright (c) 2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * https://www.opensource.org/licenses/mit-license.php
 */
body {
  font: 13px/20px 'Lucida Grande', Verdana, sans-serif;
  color: #404040;
  background: #dbe0eb;
}

.checkout {
  width: 270px;
  margin: 50px auto;
  padding: 15px;
  background: #f3f6fa;
  border: 1px solid;
  border-color: #c2cadb #bbc5d6 #b7c0cd;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.checkout > p {
  zoom: 1;
}
.checkout > p:before, .checkout > p:after {
  content: '';
  display: table;
}
.checkout > p:after {
  clear: both;
}
.checkout > p + p {
  margin-top: 15px;
}

.checkout-header {
  position: relative;
  margin: -15px -15px 15px;
}

.checkout-title {
  padding: 0 15px;
  line-height: 38px;
  font-size: 13px;
  font-weight: bold;
  color: #7f889e;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  background: #eceff5;
  border-bottom: 1px solid #c5ccdb;
  border-radius: 7px 7px 0 0;
  background-image: -webkit-linear-gradient(top, #f5f8fb, #e9edf3);
  background-image: -moz-linear-gradient(top, #f5f8fb, #e9edf3);
  background-image: -o-linear-gradient(top, #f5f8fb, #e9edf3);
  background-image: linear-gradient(to bottom, #f5f8fb, #e9edf3);
  -webkit-box-shadow: inset 0 1px white;
  box-shadow: inset 0 1px white;
}
.checkout-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.checkout-price {
  position: absolute;
  top: -14px;
  right: -14px;
  width: 40px;
  font: 14px/40px Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  text-indent: -1px;
  letter-spacing: -1px;
  background: #e54930;
  border: 1px solid;
  border-color: #b33323 #ab3123 #982b1f;
  border-radius: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: -webkit-linear-gradient(top, #f75a3b, #d63b29);
  background-image: -moz-linear-gradient(top, #f75a3b, #d63b29);
  background-image: -o-linear-gradient(top, #f75a3b, #d63b29);
  background-image: linear-gradient(to bottom, #f75a3b, #d63b29);
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.checkout-price:before {
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  border: 2px solid #f5f8fb;
  border-radius: 18px;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.25);
}

input {
  margin: 0;
  line-height: normal;
  font-family: inherit;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.checkout-input {
  float: left;
  padding: 0 7px;
  height: 32px;
  color: #525864;
  background: white;
  border: 1px solid;
  border-color: #b3c0e2 #bcc5e2 #c0ccea;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #f6f8fa, white);
  background-image: -moz-linear-gradient(top, #f6f8fa, white);
  background-image: -o-linear-gradient(top, #f6f8fa, white);
  background-image: linear-gradient(to bottom, #f6f8fa, white);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
}
.checkout-input:focus {
  border-color: #46aefe;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #46aefe;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #46aefe;
}
.lt-ie9 .checkout-input {
  line-height: 30px;
}

.checkout-name {
  width: 150px;
}

.checkout-card {
  width: 210px;
}

.checkout-exp,
.checkout-cvc {
  margin-left: 15px;
  width: 45px;
}

.checkout-btn {
  width: 100%;
  height: 34px;
  padding: 0;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid;
  border-color: #1486f9 #0f7de9 #0d6acf;
  background: #1993fb;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
  background-image: -moz-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
  background-image: -o-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
  background-image: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.checkout-btn:active {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-color: #075bba #0c69d2 #0f7de9;
  background-image: -webkit-linear-gradient(top, #1281dc, #1593fc);
  background-image: -moz-linear-gradient(top, #1281dc, #1593fc);
  background-image: -o-linear-gradient(top, #1281dc, #1593fc);
  background-image: linear-gradient(to bottom, #1281dc, #1593fc);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
}

:-moz-placeholder {
  color: #acb6c8 !important;
}

::-moz-placeholder {
  color: #acb6c8 !important;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #acb6c8;
}

:-ms-input-placeholder {
  color: #acb6c8;
}

::-moz-focus-inner {
  padding: 0 !important;
  border: 0 !important;
}

div.backBtn {
  width: 100px;
  left: 100px;
  top: 100px;
  background-color: #f4f4f4;
  transition: all 0.4s ease;
  position: fixed;
  cursor: pointer;
}

span.line {
  bottom: auto;
  right: auto;
  top: auto;
  left: auto;
  background-color: #333;
  border-radius: 10px;
  width: 100%;
  left: 0px;
  height: 2px;
  display: block;
  position: absolute;
  transition: width 0.2s ease 0.1s, left 0.2s ease, transform 0.2s ease 0.3s, background-color 0.2s ease;
}

span.tLine {
  top: 0px;
}

span.mLine {
  top: 13px;
  opacity: 0;
}

span.bLine {
  top: 26px;
}

.label {
  position: absolute;
  left: 0px;
  top: 5px;
  width: 100%;
  text-align: center;
  transition: all 0.4s ease;
  font-size: 1em;
}

div.backBtn:hover span.label {
  left: 25px
}

div.backBtn:hover span.line {
  left: -10px;
  height: 5px;
  background-color: #F76060;
}

div.backBtn:hover span.tLine {
  width: 25px;
  transform: rotate(-45deg);
  left: -15px;
  top: 6px;
}

div.backBtn:hover span.mLine {
  opacity: 1;
  width: 30px;
}

div.backBtn:hover span.bLine {
  width: 25px;
  transform: rotate(45deg);
  left: -15px;
  top: 20px;
}